<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>Edit {{ENTITY}}</title>
</head>
<body>
<h2>Edit {{ENTITY}}</h2>
<form method="post" action="/{{ENTITY_LOWER}}/update">
{{FORM_FIELDS}}
    <input type="submit" value="Update"/>
</form>
</body>
</html>
